* {
  margin: 0;
	box-sizing: border-box;
}


body {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	color: $color-font;

	& h1 {
		font-size: 40px;
	}

	& h2 {
		font-size: 30px;
	}

	& h3 {
		font-size: 25px;
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
