.header_top {
	display: flex;
	height: 4.5rem;
	width: 70vw;
	justify-content: space-between;
	align-items: end;
	color: $color-font;
	white-space: nowrap;
	margin: 0 auto;
	& a {
		text-decoration: none;
		color: $color-font;
	}
}

.logo {
	width: 14rem;
	align-self: center;
}

.info_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.nav {
	display: flex;
	padding-left: 10%;
	gap: 3rem;
	flex-direction: row;

	height: 100%;

	.nav_item {
		position: relative;
		display: flex;
		font-weight: 500;
		align-items: center;
		overflow: hidden;
		& .underline {
			position: absolute;
			top: 6rem;
			display: block;
			height: 1rem;
			width: 100%;
			border-radius: 1rem;
			transition: 0.1s;
		}

		& a:hover {
			color: $color-1;
			& .underline {
				top: 4.28rem;
			}
		}
	}
}

.cred {
	display: flex;
	justify-content: space-between;
	gap: 2rem;

	.cred_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.4rem;
		color: $color-gray;

		&:hover {
			filter: invert(44%) sepia(83%) saturate(1725%) hue-rotate(185deg)
				brightness(99%) contrast(93%);
		}

		& .envelope {
			width: 1rem;
		}

		& .phone {
			width: 0.7rem;
		}
	}
}

.header_bottom {
	position: relative;
	width: 100%;
	height: 35vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	gap: 0.7rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-image: url("../../img/background.png");
		z-index: -1;
		filter: brightness(80%);
	}
}
